[package]
name = "git-utils-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow = { workspace = true }
git2 = { workspace = true }
thiserror = { workspace = true }
