name: Check Unused Dependencies (udeps)

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  check-unused-deps-udeps:
    name: Check Unused Dependencies (udeps)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-udeps
        run: cargo install cargo-udeps --locked
      - name: Check for unused dependencies
        run: cargo +nightly udeps --all-targets
